.product-list-container{
    background-color: rgb(229, 231, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   
}
.product-container{
   height: 369px;
   width: 336px;
   background-color: white;
   margin-top: 10px;
   cursor: pointer;
  
    
   
}
.product-container:hover{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.211);
}
.product-image-container{
    height: 256px;
    width: 334px;
}
.product-image{
    object-fit: fill;
    height: 180px;
    width: 280px;
    margin-top: 30px;
    
}
.product-image:hover{
    scale: 1.1;
}
.product-description-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.product-price-buy-container{
    display: flex;
    justify-content: space-between;
    padding: 24px;   
}
.strike-price{
    margin-left: 5px;
}
.add-button{
    height: 36px;
    width: 36px;
    font-weight: 400;
    padding-top: 3px;
    background-color: white;
    border: 0.8px solid rgb(229, 231, 235);
    border-radius: 5px;
    color: rgb(0, 159, 127);
}

.add-button:hover{
    cursor: pointer;
    background-color: rgb(0, 159, 127);
    color: white;
    transition: all 0.2s;

    
}
